<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>RUSERBA - Ruko Serba Ada</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div id="header">
		<div id="toplogo">
			<a href="index.html"><b>RUSERBA BRO!</b><a>
		</div>
		<div id="logintop">
			<a href="login.html"><strong>Login</strong></a>
			<br><br>
			<a href="register.html"><strong>Register</strong></a>
			<p id ="search">Cari Barang: <input type="text" size="100"> <input type="submit" value="Search"></p>
			<p id="tasbelanja">tasbelanja</p> 
		</div>
		<div id="kategori">
			 <p><span><a href="brgsembako.html">Sembako</a></span>
				<span class="underline">____</span>
				<span><a href="brghandphone.html">Handphone</a></span>
				<span class="underline">____</span>
				<span><a href="brgelektronik.html">Peralatan Elektronik</a></span>
				<span class="underline">____</span>
				<span><a href="brgkomputer.html">Aksesoris Komputer</a></span>
				<span class="underline">____</span>
				<span><a href="brgperabot.html">Perabotan Rumah</a></span>
				<span class="underline">____</span>
				<span><a href="brgalattulis.html">Alat Tulis</a></span>
			 <p>
		</div>
	</div>
	<div id="registercontent">
		<h3 id="formtitle">FORM REGISTRASI</h3>
		<br><br>
		<p>Username:</p>
		<input type="text" size="30">
		<p>Password:</p>
		<input type="text" size="30">
		<p>Confirm Password:</p>
		<input type="text" size="30">
		<p>Nama Lengkap:</p>
		<input type="text" size="30">
		<p>Nomor Handphone:</p>
		<input type="text" size="30">
		<p>Alamat:</p>
		<input type="text" size="30">
		<p>Provinsi:</p>
		<input type="text" size="30">
		<p>Kota/Kabupaten:</p>
		<input type="text" size="30">
		<p>Kode Pos:</p>
		<input type="text" size="30">
		<p>Email:</p>
		<input type="text" size="30">
		<br><br>
		<input type="submit" value="Submit">
	</div>
</body>

</html>